apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
data:
  # Enable Git webhook
  url: https://argocd.example.com  # TODO: Change this to your domain

  # Resource customizations
  resource.customizations: |
    admissionregistration.k8s.io/MutatingWebhookConfiguration:
      ignoreDifferences: |
        jsonPointers:
        - /webhooks/0/clientConfig/caBundle